<?xml version="1.0" ?>

<robot name="quad">

  <properties arm="0.175" kf="6.11e-8" km="1.5e-9" thrust2weight="2" max_speed_kmh="50" gnd_eff_coeff="0" prop_radius="0" drag_coeff_xy="0" drag_coeff_z="0" dw_coeff_1="0" dw_coeff_2="0" dw_coeff_3="1"/>
  <!-- [GRASP hummingbird] properties arm="0.175" kf="6.11e-8" km="1.5e-9" thrust2weight="2"/ -->
  <!-- [GRASP nano quad] properties arm="0.0635" kf="2.0e-9" km="4.74e-12" thrust2weight="2"/ -->

  <link name="base_link"> 

    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="0.5"/>
      <!-- [GRASP hummingbird] mass value="0.5"/ -->
      <!-- [GRASP nano quad] mass value="0.075"/ -->
      <inertia ixx="0.0023" ixy="0.0" ixz="0.0" iyy="0.0023" iyz="0.0" izz="0.004"/>
      <!-- [GRASP hummingbird] inertia ixx="0.0023" ixy="0.0" ixz="0.0" iyy="0.0023" iyz="0.0" izz="0.004"/ -->
      <!-- [GRASP nano quad] inertia ixx="4.28-5" ixy="0.0" ixz="0.0" iyy="4.28-5" iyz="0.0" izz="8.36-5"/ -->
    </inertial>

    <!-- links>
      <grap url="http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.169.1687&rep=rep1&type=pdf" />
    </links -->

    <visual>
      <origin rpy="0 0 0" xyz="0 0 -0.02"/>
      <geometry>
        <mesh filename="./quad.obj" scale=".0875 .0875 .0875"/>
      </geometry> 
      <material name="grey">
        <color rgba=".2 .2 .2 1"/>
      </material> 
    </visual>

    <collision>
      <origin rpy="0 0 0" xyz="0 0 -0.075"/>
      <geometry>
        <cylinder radius=".25" length=".15"/>
      </geometry>
    </collision>  

  </link>

  <link name="prop0_link">
    <inertial>
      <origin rpy="0 0 0" xyz="0.175 0 0"/>
      <mass value="0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>
  <joint name="prop0_joint" type="fixed">
    <parent link="base_link"/>
    <child link="prop0_link"/>
  </joint>

  <link name="prop1_link">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0.175 0"/>
      <mass value="0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>
  <joint name="prop1_joint" type="fixed">
    <parent link="base_link"/>
    <child link="prop1_link"/>
  </joint>

  <link name="prop2_link">
    <inertial>
      <origin rpy="0 0 0" xyz="-0.175 0 0"/>
      <mass value="0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>
  <joint name="prop2_joint" type="fixed">
    <parent link="base_link"/>
    <child link="prop2_link"/>
  </joint>

  <link name="prop3_link">
    <inertial>
      <origin rpy="0 0 0" xyz="0 -0.175 0"/>
      <mass value="0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>
  <joint name="prop3_joint" type="fixed">
    <parent link="base_link"/>
    <child link="prop3_link"/>
  </joint>

  <link name="center_of_mass_link">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>
  <joint name="center_of_mass_joint" type="fixed">
    <parent link="base_link"/>
    <child link="center_of_mass_link"/>
  </joint>

</robot>

