<?xml version="1.0" ?>
<robot name="sphere">
  <link name="base_link">
    <visual>
      <geometry>
        <sphere radius="0.4"/>
      </geometry>
      <material name="brown">
        <color rgba="0.82 0.71 0.55 1.0"/> <!-- Yellow color -->
      </material>
    </visual>
    <collision>
      <geometry>
        <sphere radius="0.2"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.0"/>
      <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
    </inertial>
  </link>
</robot>
